
$mainColorOfSite:#FFFFFF;
$lightColorOfSite: #F4F0EC;
// $secondMainColorOfSite:#FFF;
$desktopWidthOfSite: 1200px;
// $darkColorOfSite: #292F36;
$firstPrimaryColor: #CDA274;
$secondPrimaryColor: #292F36;
$thirdPrimaryColor: #F4F0EC;
$fourthPrimaryColor: #4D5053;